{% extends 'base.html' %}
{% block content %}
<main>
    <h1>Tasks List</h1>
    <div class="table-container">
        {% macro render_tasks(tasks, level=0) %}
        {% for task in tasks %}
        <tr>
            <td style="padding-left: {{ level * 30 }}px"> <!-- Increase padding for sub-tasks -->
                <div class="checkbox-group">
                    {% if task.status == 'EMPTY' %}
                    <div class="checkbox empty" data-task-id="{{ task.id }}"></div>
                    {% elif task.status == 'HALF' %}
                    <div class="checkbox half" data-task-id="{{ task.id }}"></div>
                    {% elif task.status == 'FULL' %}
                    <div class="checkbox full" data-task-id="{{ task.id }}"></div>
                    {% endif %}
                    <div class="task-title" data-task-id="{{task.id}}"><strong>{{ task.title }}</strong></div>
                </div>
                <!-- Status: {{ task.status }} -->
    </div>
    </td>
    <td style="padding-inline-end: 150px">
    </td>
    <td>
        {% if task.sub_tasks %}
        {% else %}
        <form action="/submit?process=delete" method="post" style="display: inline;">
            <input type="hidden" name="id" value="{{task.id}}">
            <!-- Include other necessary hidden inputs -->
            <a href="#" onclick="this.closest('form').submit(); return false;"
                style="font-size: 8px;vertical-align: middle;">&#10060;</a>
        </form>
        {% endif %}
    </td>
    </tr>
    {% if task.sub_tasks %}
    {{ render_tasks(task.sub_tasks, level + 1) }}
    {% endif %}
    {% endfor %}
    {% endmacro %}

    <table>
        {{ render_tasks(tasks) }}
    </table>
    </div>
    <h1>Edit Task</h1>
    <form action=" /submit?process=edit" method="post">
        <input type="hidden" name="id" value="{{tasks[0].id}}">
        <label for="title">Task Title:</label>
        <input type="text" name="title" value="{{tasks[0].title}}">
        </p>
        <p>
            <label for="title">Task status:</label>
            <select name="task_status" id="task_status">
                <option value="EMPTY" {% if tasks[0].status=='EMPTY' %}selected{% endif %}>pending</option>
                <option value="HALF" {% if tasks[0].status=='HALF' %}selected{% endif %}>ongoing</option>
                <option value="FULL" {% if tasks[0].status=='FULL' %}selected{% endif %}>completed</option>
            </select>
        </p>
        <p>
            <label for="title">Parent task:</label>
            <select name="parent_id" id="parent_id">
                {% for parent in parents %}
                <option value="{{parent.id}}" {% if tasks[0].parent_id==parent.id %}selected{% endif %}>{{parent.title}}
                </option>
                {% endfor %}
            </select>
        </p>

        <input type="submit" value="Submit">
    </form>
</main>
{% endblock %}